<div class="btn-toolbar margin20">
    <div class="btn-group">
        <a href="#" class="btn btn-default" title="выбрать букву"><i class="fa fa-home fa-3x"></i></a>
    </div>
</div>
<div data-bind="blockUI: indicator">
    <h2 data-bind="text: title"></h2>
    <p>
        Проект "Что значит имя" содержит описание 718 имен. Выберите букву, найдите имя
        и выбрав его ознакомьтесь с характеристиками. На странице описания имени можно нажать на каждую букву и
        прочитать дополнительные черты характера человека, который носит это имя.
    </p>
    <h2>Сайт создан из</h2>
    <p>
        При создании проекта "Что значит имя" были использованы следующие технологии и фреймворки:
        <ul>
            <li><a href="http://www.asp.net">ASP.NET MVC 5</a></li>
            <li><a href="http://durandaljs.com">Dudandaljs</a></li>
            <li><a href="http://www.breezejs.com/">BreezeJs</a></li>
            <li>EntityFramework</li>
            <li>FontAwesome</li>
            <li><a href="http://www.knockoutjs.com">Knockoutjs</a></li>
            <li><a href="http://jquery.com/">jQuery</a></li>
            <li><a href="http://requirejs.org/">RequireJS</a></li>
            <li>Microsoft.AspNet.Identity</li>
            <li>Microsoft.Owin</li>
            <li>Newtonsoft.Json</li>
            <li><a href="http://www.asp.net/vnext/overview/authentication">Asp.NET OWIN</a></li>
        </ul>
    </p>
    <h2>Как создать сайт</h2>
    <p>
        О поэтапных шагах по созданию сайта можно ознакомиться в <a href="http://www.calabonga.net">блоге автора</a>.
        Там же можно оставить комментарии и обратиться с вопросом через форму обратной связи.
    </p>
</div>