<section class="container">
    <div class="btn-toolbar margin20">
        <div class="btn-group">
            <a href="#" class="btn btn-default" title="выбрать букву"><i class="fa fa-home fa-3x"></i></a>
        </div>
    </div>
    <div>
        <h2 data-bind="text: title"></h2>
        <p>
            Проект "Что значит имя" содержит описание 718 имен. Выберите букву, найдите имя
            и выбрав его ознакомьтесь с характеристиками. На странице описания имени можно нажать на каждую букву и
            прочитать дополнительные черты характера человека, который носит это имя.
        </p>
        <h2>Сайт</h2>
        <p>
            При создании проекта "Что значит имя" были использованы следующие технологии и фреймворки:
            <ul>
                <li><a href="http://www.asp.net">ASP.NET MVC 5</a></li>
                <li><a href="http://durandaljs.com">Dudandaljs</a></li>
                <li><a href="http://www.breezejs.com/">BreezeJs</a></li>
                <li><a href="http://msdn.microsoft.com/ru-ru/data/ef.aspx">EntityFramework</a></li>
                <li><a href="http://fortawesome.github.io/Font-Awesome/">FontAwesome</a></li>
                <li><a href="http://www.knockoutjs.com">Knockoutjs</a></li>
                <li><a href="http://jquery.com/">jQuery</a></li>
                <li><a href="http://requirejs.org/">RequireJS</a></li>
                <li><a href="http://www.asp.net/identity">Microsoft.AspNet.Identity</a></li>
                <li><a href="http://www.asp.net/aspnet/overview/owin-and-katana">Microsoft.Owin</a></li>
                <li><a href="http://james.newtonking.com/json">Newtonsoft.Json</a></li>
                <li><a href="http://www.asp.net/vnext/overview/authentication">Asp.NET OWIN</a></li>
            </ul>
        </p>
        <h2>Про автора</h2>
        <p>
            <a href="http://www.calabonga.net">Блог</a> о программировании на платформе NET от автора сайта. Там же в блоге можно оставить комментарии к статьям и/или
            обратиться с вопросом по программированию на NET через форму обратной связи.
        </p>
        <h2>Как создать сайт</h2>
        <p>
            А на случая если вы захотите создать подобный проект, вот вам подробные инструкции "как сделать сайт по принципу Single Page Application":
        </p>
        <ul class="list-group">
            <li class="list-group-item"><a href="http://www.calabonga.net/blog/post/141">Что такое SPA или сайт из одной страницы?</a></li>
            <li class="list-group-item"><a href="http://www.calabonga.net/blog/post/144">Что значит имя: Создаем новый сайт по принципу Single Page Application</a></li>
            <li class="list-group-item"><a href="http://www.calabonga.net/blog/post/146">Что значит имя: База данных для SPA или Code First на EntityFramework</a></li>
            <li class="list-group-item"><a href="http://www.calabonga.net/blog/post/147">Что значит имя: Изучаем BreezeJS на примере SPA об именах</a></li>
            <li class="list-group-item"><a href="http://www.calabonga.net/blog/post/148">Что значит имя: Разработка клиента на JavaScript при помощи BreezeJS</a></li>
        </ul>
    </div>
</section>