<!DOCTYPE html>
<html>
<head>
    <title>Что значит имя</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/content/durandal.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/font-awesome.css" rel="stylesheet" />
    <link href="~/content/toastr.min.css" rel="stylesheet" />
    <link href="~/content/app.css" rel="stylesheet" />
</head>
<body>
    <div id="applicationHost">
        <div class="page-splash"></div>
        <div class="page-splash-message">
            Что значит имя...
        </div>
        <div class="progress progress-striped active page-progress-bar">
            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
        </div>
    </div>

    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="/scripts/require.js" data-main="app/main"></script>
</body>
</html>